#canvas-module {
  position: relative !important;
  z-index: 1000;
}

#canvas-module #canvas-module-area {
  position: relative;
  padding: 0 15px;
  border: 1px solid #333;
  border-radius: 15px;
  overflow: hidden;
  height: 250px;
}

#canvas-module #canvas-module-area #canvas-module-actions-dock {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#canvas-module #canvas-module-area #canvas-module-actions-dock .btn.circle {
  border-radius: 45%;
  padding: 2px 4px;
}

#canvas-module #canvas-module-area #canvas-module-custom-actions {
  position: relative;
}

#canvas-module #canvas-module-area #canvas-module-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}